# fly.toml app configuration file generated for my-expense-tracker-demo on 2024-02-26T21:42:47-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'my-expense-tracker-demo'
primary_region = 'sea'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
